@import "../_variables";

#nav {
    background-color: $accent;
    .navbar-toggler {
        border-color: white;
        background-color: white;
        &:focus {
            box-shadow: none;
        }
    }
    .navbar-nav {
        .nav-link {
            font-weight: 700;
            color: white;
            &.active {
                color: $primary!important;
            }
            &:hover {
                color: $primary!important;
            }
        }
    }
    .er-logo {
        width: 100%;
        height: 50px;
    }
}

.scrolled {
    position: sticky!important;
    top: 0;
    width: 100%;
    height: 100%;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    z-index: 1000000;
}