@import "./navbar/navbar.css"; /*importing my custom navbar class*/
/*setting a primary font*/
@import "./_variables";
@import "./footer/footer.css";
@import "../css/contact-form/contact.css";
@import "../css/download/download.css";
@import "../css/contact/contact.css";
@font-face {
    font-family: theGoat;
    src: url('../fonts/Poppins-Regular.woff2') format('.woff2');
}
/*html & body*/
html, body {
    font-family: theGoat, sans-serif!important;
    font-size: 18px!important;
}
/*body*/
body {
    margin: 0!important;
    overflow-x: hidden!important;
    padding: 0!important;
    background-color: $background!important;
    color: #fff!important;
}

.text-no-deco {
    text-decoration: none;
}
* {
    transition: all 0.2s ease;
}

/*Primary button styling*/
.btn-primary {
    color: $primary!important;
    background-color: white!important;
    padding: 13px 34px!important;
    border: 1px solid $primary!important;
    border-radius: 50px!important;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2)!important;
    text-transform: uppercase!important;
    font-weight: 700!important;
    transition: 0.5s ease-in-out!important;
    width: 50%!important;
    &:hover {
        background-color: $primary!important;
        border: 1px solid white!important;
        color: white!important;
    }
    @media (max-width: 992px) {
        width: 100%!important;
    }
}

/*Secondary button styling*/
.btn-secondary {
    color: white!important;
    background-color: $primary!important;
    padding: 13px 34px!important;
    border: 1px solid white!important;
    border-radius: 50px!important;
    box-shadow: 4px 4px 8px rgb(184, 138, 78, 0.2)!important;
    text-transform: uppercase!important;
    font-weight: 700!important;
    transition: 0.5s ease-in-out!important;
    width: 50%!important;
    &:hover {
        background-color: white!important;
        border: 1px solid $primary!important;
        color: $primary!important;
    }
}

section {
    padding: 100px 0;
}
/*homepage hero styling*/
#hero {
    width: 100%;
    display: flex;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/hero-bg.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    .hero-container {
      display: grid;
      align-items: stretch;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      width: 100%;
      height: 100%;
      @media (max-width: 992px) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 100vh;
        padding: 2rem;
      }
      .header-container {
        color: white;
        padding: 2rem;
        z-index: 2;
        width: 100%;
        .header {
          width: 80%;
          @media (max-width: 768px) {
            width: 100%;
          }
          .h1 {
            text-transform: uppercase;
          }
        }
        @media (max-width: 992px) {
            text-align: center;
            align-items: center;
            display: flex;
            flex-direction: column;
        }
      }
      .image-container {
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        width: 100%;
        overflow: visible;
        .hero-image {
          max-width: 120%;
          height: auto;
          object-fit: contain;
          position: relative;
          right: 0; // slight overflow for cool effect
          z-index: 1;
        }
        @media (max-width: 992px) {
          justify-content: center;
          align-items: center;
          .hero-image {
            right: 0;
            max-width: 400px;
            width: 100%;
          }
        }
      }    
      .contact-wrapper {
        width: 100%;
        .checkbox {
            color: #000;
        }
      }
    }
}
  
#about-game {
    .container {
        .atg-img {
            width: 100%;
            height: 100%;
        }
        .shattered-world {
            color: $primary!important;
        }
    }        
}

#key-features {
    .container {
        text-align: center;
        .grid-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr); 
            gap: 20px;
            .key-cards {
                width: 100%;
                height: auto;
                padding: 20px 34px;
                border-radius: 20px;
                align-items: stretch;
                background: rgb(74,92,110);
                background: linear-gradient(0deg, rgba(74,92,110,1) 0%, rgba(161,167,166,1) 100%);
                .key-cards-header {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .key-cards-body {
                    margin-top: 20px;
                    width: 100%;
                    display: flex;  
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    ul {
                        padding: 0;
                    }
                }
            }
            @media (max-width: 768px) {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }
}

#boss {
    .boss-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        justify-content: center;
        align-items: center;
        @media (max-width: 768px) {
            grid-template-columns: repeat(1, 1fr);
        }
        .boss-img {
            width: 100%;
            height: 500px;
            object-fit: cover;
            align-items: stretch;
        }
    }
}

#platforms {
    position: relative!important;
    background-color: $primary!important;
    .btn-container {
        width: 100%!important;
        display: flex!important;
        justify-content: center!important;
        align-items: center!important;
        gap: 50px!important;
        @media (max-width: 1100px) {
            display: flex!important;
            flex-direction: column!important;
            gap: 20px!important;  
            width: 100%!important;
        }
    }
    .btn-platforms {
        width: 400px!important;
        display: flex!important;
        flex-direction: row!important;
        gap: 10px!important;
        align-items: end!important;
        justify-content: center!important;
    }
    .bi {
        font-size: 20px!important;
    }
}

#action {
    .video-container {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
}

#conclusion {
    .conclusion-container {
        position: relative;
        width: 100%;
        height: 70vh;
        .conclusion-player {
            position: absolute;
            width: 100vw;
            left: 0;
            top: 0;
            height: 100%;
            object-fit: cover;
            z-index: 1;
        }
    }
    .con-btn-container {
        width: 100%!important;
        height: 100%!important;
        display: flex!important;
        flex-direction: row!important;
        gap: 20px!important;
        justify-content: center!important;
        @media (max-width: 486px) {
            flex-direction: column!important;
        }
        button {
            @media (max-width: 486px) {
                width: 100%!important;
            }
        }
        .conclusion-btn {
            width: 100%!important;
            .btn {
                width: 100%!important;
            }
        }
    }
    .intrested-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
    }
}

#footer {
    background-color: $accent!important;
    .er-logo {
        width: 100%;
        height: 30%;
        object-fit: cover;
    }
}

#footer-links {
    padding-bottom: 0;
    a:hover {
        color: $primary!important;
    }
    .er-footer {
        height: 100%;
    }
}

#copyright {
    a:hover {
        color: $primary!important;
    }
}

#spacer {
    padding: 0;
    .line {
        border-top: 1px solid white;
    }
}

/* width */
::-webkit-scrollbar {
    width: 13px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 10px;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: $primary!important; 
    border-radius: 10px;
    &:hover {
        background-color: #ce9e5f;
    }
}

#platforms {
    .platform-bg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        z-index: 1;
        left: 0;
        object-fit: cover;
    }
    
    .platform-wrapper {
        position: relative;
        z-index: 2;
    }
}